:host{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:auto;
    background-color: rgba(13, 17, 23, 0.5);
    backdrop-filter: blur(20px);
    width: 80%;
    min-height: calc(100vh - 5em);
}
li.profile {
    margin: 1em;
}
