<img src="assets/images/Marvin.png" title="Marvin Henßler" style="height: 120px"/>
<h1>Marvin Henßler</h1>
<h2>Application Developer</h2>
<p style="width: 50%; text-align: center;">Hey there, I'm Marvin. Welcome to my website. I am currently working as a Application Developer within the HARTING Technology Group after finishing my master degree in IT-Management.</p>
<p style="width: 50%; text-align: center;">I constantly trying to improve my craft by starting new projects and learning new languages and technologies.</p>
<p style="width: 50%; text-align: center;">Feel free to reach out via my linked profiles.</p>

<meta property="og:title" content="Marvin Henßler - Home"/>
<meta property="og:description" content="Hey there, I'm Marvin. Welcome to my website."/>
<meta property="og:site_name" content="henssler.me"/>