<!--Header-->
<header>
  <a href="/">
    <img src="assets/images/logo-nav@2x.png" title="Home" style="height: 60px;"/>
  </a>
  <nav>
    <a routerLink=""><fa-icon [icon]="faHouse"></fa-icon>Home</a>
    <a routerLink="/marvin/profiles"><fa-icon [icon]="faUser"></fa-icon>Profiles</a>
    <a routerLink="/marvin/timeline"><fa-icon [icon]="faTimeline"></fa-icon>Timeline</a>
  </nav>
</header>
<!--Content-->
<router-outlet></router-outlet>
<!--Footer-->
<footer>
  <a href="/">
    <img src="assets/images/logo-small.png" title="Home" style="height: 40px; margin: 10px;"/>
  </a>
  <div>© 2023 Marvin Henßer</div>
</footer>